<section class="section">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <!-- Card -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Effectuer un achat</h5>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error != null}">
                        <p th:text="${error}"></p>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success != null}">
                        <p th:text="${success}"></p>
                    </div>
                    <form action="/mouvements-stock/ajouter-achat" method="POST" enctype="multipart/form-data">
                       
                        <div class="mb-3">
                            <label for="medicament" class="form-label">Medicament</label>
                            <select class="form-select" id="medicament" name="idMedicamentFiche" required>
                                <th:block th:each="fiche : ${fiches}">
                                    <option th:value="${fiche.idMedicamentFiche}" th:text="${fiche.medicament.nomCommercial}+','+${fiche.dosage}+' mg,'+${fiche.forme.forme}+','+${fiche.typeMedicament.typeMedicament}"></option>
                                </th:block>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="laboratoire" class="form-label">laboratoire</label>
                            <select class="form-select" id="laboratoire" name="idLaboratoire" required>
                                <th:block th:each="laboratoire : ${laboratoires}">
                                    <option th:value="${laboratoire.idLaboratoire}" th:text="${laboratoire.nom}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="lot" class="form-label">lot</label>
                            <input type="text" class="form-control" step="0.01" id="lot" name="lot" required>
                        </div>
                         <div class="mb-3">
                            <label for="quantite" class="form-label">quantite</label>
                            <input type="number" class="form-control" step="0.01" id="quantite" name="quantite" required>
                        </div>

                        <div class="mb-3">
                            <label for="prix" class="form-label">prix</label>
                            <input type="number" class="form-control" step="0.01" id="prix" name="prix" required>
                        </div>

                        <div class="mb-3">
                            <label for="prix" class="form-label">prix achat</label>
                            <input type="number" class="form-control" step="0.01" id="prix" name="prixAchat" required>
                        </div>

                        <div class="mb-3">
                            <label for="dateFabrication" class="form-label">date de fabrication </label>
                            <input type="date" class="form-control" id="dateFabrication" name="dateFabrication" required>
                        </div>

                        <div class="mb-3">
                            <label for="dateExpiration" class="form-label">date d'expiration </label>
                            <input type="date" class="form-control" id="dateExpiration" name="dateExpiration" required>
                        </div>

                        <div class="mb-3">
                            <label for="dateAchat" class="form-label">date d'Achat </label>
                            <input type="date" class="form-control" id="dateAchat" name="dateAchat" required>
                        </div>

                        
                        
                        <button type="submit" class="btn btn-primary">Effectuer</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <!-- Card -->
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Liste des achat : 
                        
                    </h5>
                   
                </div>
                
                <div class="card-body">
                    
                    <!-- Table -->
                    <table class="table table-bordered table-striped" style="font-size: 15px;">
                        <thead class="table-light">
                            <tr>
                               
                                <th>Medicament</th>
                                <th>Laboratoire</th>
                                <th>Lot</th>
                                <th>Prix</th>
                                <th>quantite</th>
                                <th>Date de fabrication</th>
                                <th>Date d'expiration</th>
                                <th>Date d'achat</th>
                            </tr>
                        </thead>
                        <tbody>
                             
                            <tr th:each="mouvementStock : ${mouvementStocks}">
                                <td th:text="${mouvementStock.stock.medicamentFiche.medicament.nomCommercial}+','+${mouvementStock.stock.medicamentFiche.dosage}+' mg,'+${mouvementStock.stock.medicamentFiche.forme.forme}+','+${mouvementStock.stock.medicamentFiche.typeMedicament.typeMedicament}"></td>
                                <td th:text="${mouvementStock.stock.laboratoire.nom}"></td>
                                <td th:text="${mouvementStock.stock.lot}"></td>
                                <td th:text="${mouvementStock.stock.prix}"></td>
                                <td th:text="${mouvementStock.stock.quantite}"></td>
                                <td th:text="${mouvementStock.stock.dateFabrication}"></td>
                                <td th:text="${mouvementStock.stock.dateExpiration}"></td>
                                <td th:text="${mouvementStock.stock.dateStock}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
