<section class="section">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <!-- Card -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Ajouter sexe</h5>
                </div>
                
                <div class="card-body">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error != null}">
                        <p th:text="${error}"></p>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success != null}">
                        <p th:text="${success}"></p>
                    </div>
                    <form action="/sexes" method="POST">
                        <div class="mb-3">
                            <label for="sexe" class="form-label">sexe</label>
                            <input type="text" class="form-control" id="sexe" name="sexe" required>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <a href="/sexes">
                            <button type="button" class="btn btn-secondary">Retour</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
