<section class="section">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <!-- Card -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Recherche une/des recommandation(s)</h5>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error != null}">
                        <p th:text="${error}"></p>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success != null}">
                        <p th:text="${success}"></p>
                    </div>
                    <form action="/recommandations/rechercher" method="POST" enctype="multipart/form-data">
                       
                    
                        <div class="mb-3">
                            <label for="date" class="form-label"> date (on recupere le mois)</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>


                        
                        
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>