<section class="section">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <!-- Card -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Recherche des client a une date doneee</h5>
                </div>
                <div class="card-body">
                    <form action="/commandes/rechercher" method="post">
                        <div class="mb-3">
                            <label for="date" class="form-label">Date de l'achat</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>